<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update info</title>
</head>
<body>
<form action="#" th:action="@{/info-update}" th:object="${info}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="address">Address</label>
    <input type="text" th:field="*{address}" id="address" placeholder="address">
    <br/>
    <label for="typeof">Type</label>
    <input type="text" th:field="*{typeof}" id="typeof" placeholder="type">
    <br/>
    <label for="model">Model</label>
    <input type="text" th:field="*{model}" id="model" placeholder="model">
    <br/>
    <label for="mader">Manufacturer</label>
    <input type="text" th:field="*{mader}" id="mader" placeholder="manufacturer">
    <br/>

    <input type="submit" value="Update info">
</form>
</body>
</html>